/*@import "rouge-base16-dark";*/
@import url('https://fonts.googleapis.com/css?family=Chivo:900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

body{
	font-family: 'Gothic A1';
	line-height: 1.5;
	font-size: 1.25rem;
	color: #1d140a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	/* background: #e7e7e7 url(images/body-bg.png) 0 0 repeat; */
	background-color: #FFFAEE;
	/* padding: 2rem; */
}

#menuBar {
	background-color: #2B2B2B;
	color: #f0f9ff;
	padding: 0px 1rem;
	max-height: 4rem;
	border-radius: 0px;
}

#footer {
	background-color: #2B2B2B;
	color: #f0f9ff;
	font-size: 1.25rem;
	text-shadow: none !important;
	padding: 2rem;
	margin: 0;
	bottom: 0;
	width: 100%
}

.pageTitle {
	text-align: center;
	font-family: Alexandria;
	font-size: 3.25rem;
}

.menuPrice {
	font-family: 'Inconsolata' !important;
	font-size: 1.25rem !important;
}

h1, h2, h3, h4, a.item {
	font-family: 'Gothic A1';
}

h1 {
	font-family: Alexandria;
	font-size: 2.75rem;
}

a.ui.header {
	font-size: 1rem !important;
	text-align: center;
}

p.ui.header {
	font-size: 1rem !important;
	text-align: center;
}

.myImage {
	height: 150px !important;
	object-fit: contain;
	background-color: white;
}

.biggerfont {
	font-size: 150%;
}

.biggerfont2 {
	font-size: 1.25rem !important;
}

.biggerfont3 {
	font-size: 1.6rem !important;
}

.biggerfont4 {
	font-size: 1.8rem !important;
}

.red {
	color: #F20505;
	font-weight: bold;
}

.myindent1 {
	margin-left: 40px;
}

.myindent2 {
	margin-left: 20px;
}

.myindent3 {
	margin-left: 60px;
}

li {
	list-style: none;
}

a {
	color: #BB0000;
}

a:hover {
	color: #F20505;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(100, 69, 37, 0.55), rgba(0, 0, 0, 0));
}

.cardContent {
	text-align: center;
	padding: 0.25rem 0.5rem !important;
	font-size: 1rem !important;
	flex-grow: 0 !important;
}

.mySegment {
	text-align: center !important;
	font-size: 1.1rem !important;
	background-color: lightCyan !important;
	color: midnightBlue !important;
	border-radius: 4rem !important;
	/* margin: 0px 3rem !important; */
	padding: 1rem 2rem !important;
	border: 2px solid rgba(25, 25, 112, 0.9) !important;
}

#deluxeSegment {
	margin-left: 8rem !important;
}

.phoneOrderSegment {
	position: absolute !important;
	margin-left: 2rem !important;
	/* background-color: aliceBlue !important; */
}

.paddinglr {
	padding: 0px 3.3rem !important;
}

@media only screen and (max-aspect-ratio: 2/3){
	body {
		line-height: 1.5;
		font-size: 2rem;
		color: #1d140a;
	}

	a, p, #footer {
		font-size: 2rem;
	}

	a.item {
		font-size: 2.0rem;
		color: #1d140a;
	}

	h1 {
		font-size: 3.5rem;
		color: #1d140a !important;
	}

	h2 {
		font-size: 2.25rem !important;
	}

	h3 {
		font-size: 1.9rem !important;
	}

	h4 {
		font-size: 1.5rem !important;
	}

	.pageTitle {
		font-size: 4.15rem;
	}

	.houseFavsTitle {
		text-align: right;
		padding-right: 10%
	}

	.biggerfont {
		/* font-size: 2.25rem !important; */
	}

	.biggerfont2 {
		font-size: 1.75rem !important;
	}

	.biggerfont3 {
		font-size: 1.8rem !important;
	}

	.biggerfont4 {
		font-size: 2.25rem !important;
	}

	.paddinglr {
		padding: 0px 6.25rem !important;
	}

	.menuPrice {
		font-family: 'Inconsolata' !important;
		font-size: 1.75rem !important;
		max-width: none !important;
		width: 90% !important;
	}

	#deluxeSegment {
		margin-left: 20rem !important;
	}
}
